body
{
font-family: "barrio-regular";
background-image: url(../img/fondo.png);
background-repeat: no-repeat;
background-position: center 20%;
margin-top: 10px;
}

.encabezadotemas
{
background-color: rgba(220,225,187,0.7);
margin-top: 20px; 
font-size: 20px;
color: #1d5987;
}

.temas
{
padding: 20px;    
}

.temamarcado:hover
{
background-color: rgba(200,205,167,0.5);    
}

@font-face {
   font-family: "barrio-regular";
   font-style: normal;
   font-weight: normal;
   src: url(css/font/Barrio-Regular.otf);
}

@font-face {
   font-family: "Calligraffiti";
   font-style: normal;
   font-weight: normal;
   src: url(css/font/Calligraffiti.ttf)  format (''ttf'');
}

@font-face {
   font-family: "FingerPaint-Regular";
   font-style: normal;
   font-weight: normal;
   src: url(css/font/FingerPaint-Regular.ttf)  format (''ttf'');
}